In [1]:
import pandas as pd
import env
import utilities as utils
import numpy as np

import nltk

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

In [2]:
train = pd.read_csv('train.csv', index_col='id')
test = pd.read_csv('test.csv', index_col='id')

In [3]:
train.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [4]:
train.shape

(7613, 4)

In [5]:
train.keyword.value_counts(dropna=False)

NaN                      61
fatalities               45
deluge                   42
armageddon               42
sinking                  41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 222, dtype: int64

## Clean up keyword series

In [6]:
train.keyword = train.keyword.str.replace('%20', '_').str.lower().str.strip()

In [7]:
train.keyword.value_counts(dropna=False)

NaN                    61
fatalities             45
deluge                 42
armageddon             42
sinking                41
                       ..
forest_fire            19
epicentre              12
threat                 11
inundation             10
radiation_emergency     9
Name: keyword, Length: 222, dtype: int64

## Clean up location

In [8]:
train.location = train.location.str.lower().str.strip()

In [9]:
train.location.value_counts()

usa                 105
new york             77
london               50
united states        50
nigeria              35
                   ...
the meadow            1
florida forever       1
colorado springs      1
annapolis, md         1
                      1
Name: location, Length: 3164, dtype: int64

### Explore a bit before doing this ^^

## Clean up Text

In [10]:
import prepare as prep

In [11]:
train['text_cleaned'] = ([prep.clean_lem_stop(string) for string in train.text])

In [12]:
train.text_cleaned.head()

id
1           deed reason earthquake may allah forgive u
4                forest fire near la ronge sask canada
5    resident asked ' shelter place ' notified offi...
6    13000 people receive wildfire evacuation order...
7    got sent photo ruby alaska smoke wildfire pour...
Name: text_cleaned, dtype: object

In [13]:
train[train.text_cleaned.isnull()]

Empty DataFrame
Columns: [keyword, location, text, target, text_cleaned]
Index: []

In [14]:
train.isnull().sum()

keyword           61
location        2533
text               0
target             0
text_cleaned       0
dtype: int64

### Create visualisations for exploration